---
import Layout from "@/layouts/Layout.astro";
import "@/pages/cook/index.scss";

const recipe = [
  {
    title: "材料",
    explanation: "キャベツ、ニラを刻む",
    img: "",
  },
  {
    title: "切る",
    explanation: "キャベツ、ニラを刻む",
    img: "",
  },
  {
    title: "混ぜる",
    explanation: "ひき肉に調味料を入れる",
    img: "",
  },
  {
    title: "包む",
    explanation: "ひき肉に調味料を入れる",
    img: "",
  },
  {
    title: "焼く",
    explanation: "ひき肉に調味料を入れる",
    img: "",
  },
  {
    title: "完成",
    explanation: "ひき肉に調味料を入れる",
    img: "",
  },
];
---

<Layout>
  <div class="cookWrapper">
    <ol class="recipeLists">
      {
        recipe.map(({ title, explanation, img }, index) => (
          <li class="recipeLists__item" data-recipe={index}>
            <h2>{title}</h2>
            <div class="recipeLists__body">
              <img width="250" height="250" src={img} />
              <p>{explanation}</p>
            </div>
          </li>
        ))
      }
    </ol>
    <div class="tableOfContentsWrapper">
      <div class="tableOfContents__fixed">
        <nav class="tableOfContents">
          <ol class="tableOfContents__list" data-indexs>
            {
              recipe.map(({ title }, index) => (
                <li class="tableOfContents__item">
                  <button
                    data-table-of-contents={index}
                    class="tableOfContents__button"
                    type="button"
                  >
                    {title}
                  </button>
                </li>
              ))
            }
          </ol>
        </nav>
      </div>
    </div>
  </div>
</Layout>

<script>
  const initRecipe = () => {
    const tableOfContentsItems = [
      ...document.querySelectorAll("[data-table-of-contents]"),
    ];

    tableOfContentsItems.map((item, index) => {
      item.addEventListener("click", () => {
        const target = document.querySelector(`[data-recipe="${index}"]`);
        target?.scrollIntoView({ behavior: "smooth", block: "center" });
      });
    });


    const handleIntersection = (entries: IntersectionObserverEntry[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          activeIndex(entry.target);
        }
      });
    };

    const options = {
      root: null,
      rootMargin: "-50% 0px", // ビューポートの中心
    };

    const observer = new IntersectionObserver(handleIntersection, options);

    const recipeListsItems = [...document.querySelectorAll("[data-recipe]")];

    if (recipeListsItems.length === 0) return;

    recipeListsItems.map((item) => {
      observer.observe(item);
    });

    const activeIndex = (element: Element) => {
      // すでにアクティブになっている目次を選択
      const currentActiveIndex = document.querySelector(
        "[data-indexs] .active"
      );
      // すでにアクティブになっているものが0個の時（=null）以外は、activeクラスを除去
      if (currentActiveIndex !== null) {
        currentActiveIndex.classList.remove("active");
      }
      const indexNumber = (element as HTMLElement).dataset.recipe;

      const newActiveIndex = document.querySelector(`[data-table-of-contents="${indexNumber}"]`);
      newActiveIndex?.classList.add("active");
    };



    const mql = window.matchMedia("(min-width: 768px)");

    function updateDisplayBasedOnWidth(e: MediaQueryListEvent) {
      if (e.matches) {
        // document.body.style.backgroundColor = "red";
        tableOfContentsItems.forEach((item, index) => {});
      } else {
        /* the viewport is more than 600 pixels wide */
        // document.body.style.backgroundColor = "blue";
        tableOfContentsItems.forEach((item, index) => {
          item.textContent = String(index);
        });
      }
    }

    mql.addEventListener("change", updateDisplayBasedOnWidth);
  };

  initRecipe();
</script>
